# ===== OS =====
.DS_Store
Thumbs.db

# ===== JetBrains IDEs (IntelliJ IDEA / CLion) =====
.idea/
*.iml
*.ipr
*.iws
out/

# ===== Java =====
*.class
*.jar
*.war
*.ear
hs_err_pid*
target/
build/
.gradle/

# ===== C++ / CMake / CLion =====
cmake-build-*/
CMakeFiles/
CMakeCache.txt
CMakeDeps/
Makefile
compile_commands.json
Testing/
CTestTestfile.cmake
install_manifest.txt

# Binaries / objects
*.o
*.obj
*.a
*.lib
*.so
*.dll
*.dylib
*.exe
*.out
*.pdb
